$grid-gutter-width: 30px;
$block-padding: 4px;
$block-vertical-padding: 3px;
$block-left-padding: 6px;
$children-container-padding: 21px;
$add-button-size: 28px;
$action-font-size: 15px;
$collapse-transition-duration: 0.3s;
$add-transition-duration: 0.3s;
$hover-transition-duration: 0.3s;
$bounce-transition-timing: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$border-radius: 3px;
$teal: #43b1b0;
$header-text-color-focus: #4d4d4d;
$header-text-color: #888888;
$block-border-color: #e6e6e6;
$block-border-color-focus: #bbbbbb;
$block-hover-background: #f5f5f5;
$error-color: #cd3238;
$error-border-color: #dbc7c8;
$error-border-color-focus: #cdb2b3;
$error-background-color: #fbefef;

.children-container {
  position: relative;
  padding: $children-container-padding $block-padding
           $children-container-padding $children-container-padding;
  &.is-dragging {
    > button.add.visible {
      opacity: 0;
      pointer-events: none;
    }
  }
  .block {
    position: relative;
    padding: $block-vertical-padding $block-padding
             $block-vertical-padding $block-left-padding;
    &.has-error {
      > .block-container {
        border-color: $error-border-color;
        > header {
          background: $error-background-color;
        }
        > .content-container > .content {
          border-color: $error-border-color;
        }
      }
      &:hover, &:focus, &:focus-within {
        > .block-container {
          border-color: $error-border-color-focus;
          > header {
            background: $error-background-color;
          }
          > .content-container > .content {
            border-color: $error-border-color-focus;
          }
        }
      }
    }
    > .block-container {
      border: 1px solid $block-border-color;
      border-radius: $border-radius;
      background: white;
      transition: border-color $hover-transition-duration ease-in-out;
      transition-property: border-color, box-shadow;
      &.SIMPLE {
        display: flex;
        flex-flow: row nowrap;
        > header {
          position: relative;
          flex: 0 0 auto;
          h3 {
            position: sticky;
            top: $grid-gutter-width / 4;
            bottom: $grid-gutter-width / 4;
            .type-icon {
            }
          }
        }
        > .content-container {
          flex: 1 1 auto;
          overflow: auto;
        }
        > aside {
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-end;
          padding: $block-padding * 2;
          .block-type {
            margin-top: $grid-gutter-width / 4;
          }
        }
      }
      &.COLLAPSIBLE {
        overflow: hidden;
        > header {
          h3 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            .type-icon {
              margin-right: $grid-gutter-width / 4;
            }
            .block-type {
              text-transform: none;
              font-weight: normal;
              font-style: italic;
              font-size: 85%;
            }
          }
          > aside {
            flex: 0 0 auto;
          }
        }
      }
      > header {
        display: flex;
        align-items: center;
        padding: $block-padding * 2;
        user-select: none;
        transition: background-color $hover-transition-duration ease-in-out;
        cursor: default;
        &.collapsible {
          cursor: pointer;
        }
        &.sortable {
          cursor: grab;
        }
        h3 {
          flex: 1 1 auto;
          margin: 0;
          color: $header-text-color;
          .type-icon {
            color: $header-text-color;
            transition: color $hover-transition-duration ease-in-out;
          }
        }
      }
      > header, & {
        .block-type {
          text-transform: uppercase;
          text-align: right;
          font-size: 80%;
          line-height: 100%;
          color: $header-text-color;
        }
        > aside > .actions {
          white-space: nowrap;
          > button {
            appearance: none;
            border: none;
            background: none;
            cursor: pointer;
            color: $header-text-color;
            opacity: 1;
            transition: opacity $hover-transition-duration ease-in-out;
            transition-property: opacity, color;
            font-size: $action-font-size;

            &.disabled {
              opacity: 0.2;
              pointer-events: none;
            }
          }
        }
      }
      > .content-container > .content {
        padding: 12px;
      }
    }
    &:hover, &:focus, &:focus-within {
      > .block-container {
        border-color: $block-border-color-focus;
        box-shadow: 3px 2px 3px -1px rgba(0, 0, 0, .1);
        > header {
          background: $block-hover-background;
          h3 {
            color: $header-text-color-focus;
            .type-icon {
              color: $header-text-color-focus;
            }
          }
          > aside > .actions > button {
            color: $header-text-color-focus;
          }
        }
        > .content-container > .content {
          border-color: $block-border-color-focus;
        }
      }
    }
  }
  button.add {
    position: absolute;
    appearance: none;
    border: none;
    color: $teal;
    font-weight: bold;
    background: none;
    transform: translate(-100%, -50%);
    font-size: 30px;
    line-height: 30px;
    padding: 0;
    cursor: pointer;
    outline: none;
    backface-visibility: hidden;
    overflow: hidden;  // Makes the rotated i box not clickable.
    user-select: none;
    opacity: 0;
    transition: opacity $hover-transition-duration ease-in-out;
    pointer-events: none;
    &.visible {
      opacity: 1;
      pointer-events: unset;
    }
    i {
      display: block;
      transition: transform $add-transition-duration $bounce-transition-timing;
      font-style: normal;
      font-size: $add-button-size;
      line-height: $add-button-size;
    }
    &.close i {
      transform: rotate(45deg);
    }
  }

  label {
    display: block;
    font-weight: bold;
    + label {
      margin-top: $grid-gutter-width / 2;
    }
  }

  .field {
    + .field {
      padding-top: $grid-gutter-width / 2;
    }
    label {
      margin-bottom: $grid-gutter-width / 4;
    }
    &.required > label::after {
      content: '*';
      color: #cd3238;
      font-weight: 700;
      display: inline-block;
      margin-left: .5em;
      line-height: 1em;
      font-size: 13px;
    }
  }


  .add-panel {
    position: relative;
    margin: $block-padding;
    padding: $grid-gutter-width / 4;
    background: #EEEEEE;
    border-radius: $border-radius;
    user-select: none;
    .group-name {
      margin: $grid-gutter-width / 4 $grid-gutter-width / 4 0;
    }
    button.type {
      margin: $grid-gutter-width / 4;
      appearance: none;
      background: $teal;
      color: white;
      padding: 0;
      border: none;
      border-radius: $border-radius;
      outline: none;
      cursor: pointer;
      overflow: hidden;
      .icon, .label {
        display: inline-block;
        padding: 4px 8px;
      }
      .icon {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
